@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
.green {
  color: #57a203;
}
.gray {
    color:#6C757D ;
}
.white{
    color: #FFFFFF;
}
.black {
  color: #212529;
}
body{
    font-family: "Noto Sans TC", sans-serif;
}
.container{
    max-width: 1320px;
   margin: 0 auto;
    text-decoration: none;
    color: #000;
    padding-left: 12px;
    padding-right: 12px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}
.category .active{
    color: #57A203;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    padding: 0 12px;
    color:#DEE2E6;
    font-weight: 700;
}
.breadcrumb-item {
    display: flex;
    font-weight: 500;
}
.breadcrumb-link {
    color: #6C757D;
}

@media(max-width:767px){
  .breadcrumb-item + .breadcrumb-item::before{
    padding: 0 8px;
  }
  .breadcrumb-link{
    font-size: 14px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.btn {
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
ul.text-style button {
  font-family: "Noto Sans TC", sans-serif;
}
.page-item .btn:hover {
  background-color: #e9ecef; /* Bootstrap 淺灰 */
}


.page-item .btn{
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}
.page-item .active{
    background-color: #C0FA73;
    font-weight: 500;
}
.bg-primary-200{
    background-color: #E8FEC5;

}

.btn-dark{
    background-color: #212529;
    color: white;
}
.footer {
  width: 100%;
  height: auto;
  background: #f8f9fa;
  color: #6c757d;
  text-align: center;
}
@media (max-width: 576px) {
  footer ul a {
    display: block; /* 讓 <a> 獨佔一行 */
  }
}
footer img{
   height: 46px;
  width: 129px;
  margin: 0 0px ;
}
.footer p {
  line-height: 150%;
  letter-spacing: 5%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
.border-top{
border-top:1px solid #DEE2E6;
padding-bottom: 64px;
}

.gray-line {
  border-bottom: 2px solid #dee2e6;
  margin-top: 24px;
}