/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container-1{
  max-width: 100%;
  height: 80px;
}
.header {
  font-family: "Noto Sans TC", sans-serif;
  background-image: linear-gradient(#00000066, #00000066),
    url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2025-week1/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  position: relative;
}
header h1 a{
  background-image:url(../img/logo.svg);
  width: 105px; 
  height: 30px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}


.header h2 {
  display: inline;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 90px;
}

.header h3 {
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width:767px){
  .header{
    padding: 87px 0;
    background-image: url(../img/hero-sm.png);
  }
  .eng-title{
    font-size: 20px;
  }
}

.container {
  max-width: 856px;
  font-family: "Noto Sans TC", sans-serif;
  margin-bottom: 60.58px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 64px;
  position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.slogan {
  border-radius: 10px;
  background: #f5fee7;
  height: 180px;
  text-align: center;
}
@media(max-width:767px){
  .slogan{
    text-align: left;
    height: 100%;
  }
}

h5 {
  font-weight: 700;
  font-size: 20px;
  padding-top: 32px;
  margin-bottom: 12px;
  line-height: 120%;
}
.slogan p {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 5%;
}

img { max-width:100%; height:auto; display:block; margin: 0 auto 24px; }
@media (min-width: 1200px){
  .about-img{
    transform: translateX(-180px);   /* 視覺位移，不改版面寬度 */
  }
}
@media(max-width:767px){
  img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 0;
}
  }


.green {
  color: #57a203;
}

.black {
  color: 900;
}

.mb-48 {
  margin-bottom: 48px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-64 {
  margin-top: 64px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 4px;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.ml-312{
  margin-left: 312px;
}
.mr-312{
  margin-right: 312px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-26 {
  padding-bottom: 26px;
}

.pl-312{
  padding-left: 312px;
}
.pr-312{
  padding-right: 312px;
}



  
  

.gray-line {
  border-bottom: 2px solid #dee2e6;
}

.line {
  border-left: 1px solid #212529;
  margin-right: 8px;
  margin-left: 8px;
}
.move-left li {
  list-style-type: disc;
}

.line2 {
  border-left: 2px solid #dee2e6;
  margin-right: 12px;
}
.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
  
  margin-top: 0px;
}
.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5%;
  margin-bottom: 16px;
  margin-top: 0px;
}



p {
  margin-bottom: 16px;
  line-height: 150%;
}

.move-left {
  padding-left: 24px;
}

.move-left2 {
  list-style-type: none;
  padding: 0;
}
.move-right {
  padding: 4px;
}

.bi bi-arrow-up-right {
  padding-right: 60px;
}

.inline {
  display: inline;
}

a {
  display: block;
  text-decoration: none;
}
.green-bt-line {
  border-bottom: 1px solid;
}

a:hover {
  color: purple;
}

.footer {
  width: 100%;
  
  background: #f8f9fa;
  color: #6c757d;
  text-align: center;
  
}

.bg-primary-200{
    background-color: #E8FEC5;

}
.btn {
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    background-color: transparent;
}


@media(max-width:576px){
  .btn{
    padding: 8px 16px;
  }
}


.btn-dark{
    background-color: #212529;
    color: white;
}
.footer img{
   height: 46px;
  width: 129px;
  margin: 0 0px ;
}
.footer p {
  
  line-height: 150%;
  letter-spacing: 5%;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
